beautifulsoup4
bokeh
bottleneck
cloudpickle
cython
dask
dill
flake8
h5py
ipywidgets
ipympl
matplotlib
numba
numexpr
numpy
pandas
patsy
protobuf
tables
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
sympy
Sphinx
vincent
widgetsnbextension
xlrd
